mux-player {
  contain: content;
  --playback-rate-button: none;
  --seek-backward-button: none;
  --seek-forward-button: none;
  --pip-button: none;
  --time-display: none;
  --dialog: none;
  --live-button: none;
  /* --mute-button: none; */
  --captions-button: none;
  --airplay-button: none;
  --cast-button: none;
  /* --volume-range: none; */
  --duration-display: none;
  --rendition-menu-button: none;
  /* --fullscreen-button: none; */

  /* Override theme colors */
  --media-primary-color: hsla(var(--primary));
  --media-accent-color: hsla(var(--primary));
  /* &::part(bottom) {
    padding: 0 2rem 1rem 2rem;
  } */

  /* --media-control-background: rgba(0, 0, 0, 0.5);
  --media-control-hover-background: rgba(0, 0, 0, 0.7);
  --media-control-active-background: rgba(0, 0, 0, 0.8);
  --media-control-color: #ffffff;
  */

  /*  &::part(control-bar top) {
    display: none;
  }
  &::part(control-bar bottom) {}
  &::part(bottom fullscreen button) {}
  */
}
