.carousel .swiper-pagination {
  @apply -mb-2 bg-gradient-to-t from-black/70 via-black/30 via-50% to-transparent to-100% py-4;
}

.swiper-pagination-bullet {
  @apply !bg-white;
}

.swiper-button-next,
.swiper-button-prev {
  @apply !-mt-5 !h-10 !w-10 !rounded-full !bg-black/30 !text-white/80;
}

.swiper-button-next svg,
.swiper-button-prev svg {
  @apply !h-4 !w-4;
}

.swiper-button-next svg path,
.swiper-button-prev svg path {
  @apply !fill-white;
}
