@font-face {
  font-family: 'Matter-Medium';
  src: url('../fonts/Matter/Matter-Medium.eot');
  src:
    url('../fonts/Matter/Matter-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Matter/Matter-Medium.woff2') format('woff2'),
    url('../fonts/Matter/Matter-Medium.woff') format('woff'),
    url('../fonts/Matter/Matter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Matter';
  src: url('../fonts/Matter/Matter-Regular.eot');
  src:
    url('../fonts/Matter/Matter-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Matter/Matter-Regular.woff2') format('woff2'),
    url('../fonts/Matter/Matter-Regular.woff') format('woff'),
    url('../fonts/Matter/Matter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Matter-Bold';
  src: url('../fonts/Matter/Matter-Bold.eot');
  src:
    url('../fonts/Matter/Matter-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Matter/Matter-Bold.woff2') format('woff2'),
    url('../fonts/Matter/Matter-Bold.woff') format('woff'),
    url('../fonts/Matter/Matter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
