.input-wrapper {
  @apply grid w-full items-center gap-1;
}

.form-wrapper {
  @apply grid gap-3;
}

.input-error {
  @apply text-xs text-destructive;
}

.checkbox-wrapper {
  @apply flex w-full flex-row items-start gap-2;
}
