.title {
  @apply text-balance font-Matter text-4xl font-light uppercase lg:text-5xl;
  span {
    @apply mr-2 inline-flex font-Matter-Medium lg:mr-3;
  }
}

.title-sm {
  @apply text-balance font-Matter text-4xl font-light uppercase;
}

.title-md {
  @apply text-balance font-Matter-Bold text-xl font-light uppercase;
}

.title-xl {
  @apply text-balance font-Matter text-5xl font-light uppercase;
}
.subtitle {
  @apply text-balance font-Matter text-base font-light lg:text-lg;
}

.link {
  @apply text-sm;
}

.link-md {
  @apply w-max font-Matter-Medium uppercase;
}

.link-xl {
  @apply select-none font-Matter text-6xl transition hover:text-white/70 lg:w-max;
  span {
    @apply font-Matter text-6xl;
  }
}
